@use "global" as *;

.aboutus {
   margin-bottom: rem(73);
   @include mq(md) {
    margin-bottom: rem(123);
   }
}

.aboutus__items {
    margin-bottom: rem(50);
    @include mq(md) {
        position: relative;
    }
}
.aboutus__items--img {
    display: none;
    @include mq(md) {
        display: inline-block;
        position: absolute;
        bottom: rem(-73);
        right: rem(-97);
        width: 17.836%;
        z-index: 9999;
    }
}

.aboutus__item {
    position: relative;
    margin-bottom: rem(35);
    @include mq(md) {
        
    }
}

.aboutus__item:nth-child(1) {
    @include mq(md) {
        /* position: static; */
    }
}

.aboutus__item:nth-child(1)::before {
    content: "";
    display: block;
    padding-top: 62.68567%;
}

.aboutus__item--imgA {
    position: absolute;
    top: 0;
    left: 0;
    width: 37.13333%;
    object-fit: cover;
    z-index: 100;
    @include mq(md) {
        width: 36.93333%;
    }
}

.aboutus__item--imgB {
    position: absolute;
    top: rem(26);
    right: 0;
    width: 81.397727%;
    object-fit: cover;
    z-index: -100;
    @include mq(md) {
        top: rem(80);
        width: 81.397727%;
    }
}

.aboutus__item:nth-child(2) {
    @include mq(md) {
        display: flex;
        position: absolute;
        top: rem(200);
        left: rem(200);
        z-index: 200;
    }
}

.aboutus__item--box {
    @include mq(md) {
        margin-right: rem(40);
    }
}

.aboutus__item--box:nth-child(1) {
    @include mq(md) {
        width: 50%;
    }
}

.aboutus__item--box:nth-child(2) {
    @include mq(md) {
        width: 50%;
    }
}

.aboutus__item--title {
    margin-bottom: rem(15);
    color: $accent;
    font-family: $second-font-family;
    font-size: rem(40);
    font-weight: $regular;
    line-height: 1;
    @include mq(md) {
        font-size: rem(80);
        line-height: 1.25;
        color: $white;
    }
}
.aboutus__item--text {
    margin-bottom: rem(50);
    color: $green;
    font-size: rem(16);
    line-height: 1.5;
    @include mq(md) {
        margin-bottom: rem(40);
        color: $white;
    }
}