@use "global" as *;

.p-aboutus {
   margin-top: rem(44);
   margin-bottom: rem(44);
   @include mq(md) {
       
   }
}

.p-aboutus__inner {

}

.p-aboutus__title {

}

.p-aboutus__items {
    margin-bottom: rem(50);
}

.p-aboutus__itemBox {
    position: relative;
    margin-bottom: rem(40);
}

.p-aboutus__itemBox::before {
    content: "";
    display: block;
    padding-top: 62.68567%;
}

.p-aboutus__itemBox--01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 37.13333%;
    object-fit: cover;
    z-index: 100;
}

.p-aboutus__itemBox--02 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 81.397727%;
    object-fit: cover;
    z-index: -100;
}

.p-aboutus__item--title {
    margin-bottom: rem(16);
    color: $accent;
    font-family: $second-font-family;
    font-size: rem(40);
    font-weight: $regular;
    line-height: 1;
}
.p-aboutus__item--text {
    color: $green;
    font-size: rem(16);
    line-height: 1.5;
}