@use "global" as *;

.p-footer {
    background-color: $accent;
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq(md) {
        padding: rem(80) 0;
    }
}

.p-footer__inner {
    padding: 0 rem(30);
    margin: auto;
}

.p-footer__copyright {
    text-align: center;
    margin-top: rem(40);
    color: $white;
    font-family: $second-font-family;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
}