@use "global" as *;

.p-footer-nav {

}

.p-footer-nav__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(15);
    margin-right: rem(15);
    @include mq(md) {
        margin-left: rem(180);
        margin-right: rem(180);
    }
}

.p-footer-nav__item {
    color: $white;
    width: 50%;
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.p-footer-nav__item:nth-child(2) {
    margin-left: rem(12);
    width: 45%;
    @include mq(md){
    }
}

.p-footer-nav__itemBox {
    @include mq(md) {
        width: 50%;
    }
}

.p-footer-nav__itemBox:nth-child(2) {
    @include mq(md) {
        padding-left: rem(16);
    }
}

.p-footer-nav__itemBox dt {
    margin-bottom: rem(24);
    padding-left: rem(22);
    background-image: url(../images/common/icon-starfish.png);
    background-size: 10.46511%;
    background-position: top left;
    background-repeat: no-repeat;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.125;
    @include mq(md) {
        background-size: contain;
    }
}

.p-footer-nav__itemBox dt.end {
    margin-bottom: rem(40);
}

.p-footer-nav__itemBox dd.end {
    margin-bottom: rem(40);
}

.p-footer-nav__itemBox dd {
    margin-bottom: rem(24);
    padding-left: rem(22);
    font-size: rem(16);
    /* font-weight: $regular; */
    line-height: 1.125;
}