@use "global" as *;

.p-footer-nav {

}

.p-footer-nav__items {
    padding: 0 rem(30);
    margin: auto;
}

.p-footer-nav__item {
    color: $white;
}

.p-footer-nav__item dt {
    margin-bottom: rem(24);
    padding-left: rem(22);
    background-image: url(../images/common/icon-starfish.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1.125;
}

.p-footer-nav__item dd {
    margin-bottom: rem(24);
    padding-left: rem(22);
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.125;
}