@use "global" as *;

.p-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(80);
    background: rgba(13, 41, 54, 0.68);
    z-index: 9999;
    @include mq(md) {
        height: rem(90);
    }
}

.p-header__inner {
    display: flex;
    padding: 0 rem(15);
    height: inherit;
    justify-content: space-between;
    align-items: center;
    @include mq(md) {
    /*     padding: 0 rem(30); */
    }
}
.p-header__title {
    width: rem(102);
    height: inherit;
    display: flex;
    align-items: center;
    z-index: 9999;
    @include mq(md) {
        margin-left: rem(24);
        width: rem(133);
    }
}

.p-header__drawer {
    @include mq(md) {
        display: none;
    }
}

.p-header__pc-nav {
    height: inherit;
    display: none;
    @include mq(md) {
        display: block;
    }
}
