@use "global" as *;

.p-section-header {
    
}

.p-section-header__EngTitle {
    color: $green;
    text-align: center;
    font-family: $second-font-family;
    font-size: rem(32);
    font-weight: $regular;
    line-height: 1.25;
}

.p-section-header__EngTitle::first-letter {
    color: $accent;
}

.p-section-header__JaTitle {
    color: $accent;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1.5;
}