@use "global" as *;

.p-voice {
    margin-bottom: rem(84);
    @include mq(md) {
        position: relative;
        margin-bottom: rem(145);
    }
}

.p-voice__img {
    display: none;
    @include mq(md) {
        display: inline-block;
        position: absolute;
        bottom: -11%;
        right: 12.5%;
        width: 4.894%;
        z-index: 1000;
    }
}

.p-voice__inner {
    margin-bottom: rem(33);
}

.p-voice__title {
    margin-bottom: 36px;
}

.p-voice__items {
    @include mq(md) {
        display: flex;
        margin-top: rem(-10);
        margin-bottom: rem(40);
     }
}

.p-voice__item {
    margin-bottom: rem(42);
    padding: rem(15) rem(16) rem(21) rem(16);
    width: 100%;
    background-color: $white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    @include mq(md) {
        padding-top: rem(28);
        padding-bottom: rem(22);
        padding-left: rem(25);
        padding-right: rem(25);
        width: 50%;
    }
}

.p-voice__item:nth-child(1) {
    @include mq(md) {
        margin-right: rem(20);
    }
}

.p-voice__item:nth-child(2) {
    @include mq(md) {
        margin-left: rem(20);
    }
}

.p-voice__itemBox {
    display: flex;
}

.p-voice__itemBox--left {
    width: 51.755%;
    @include mq(md) {
        width: 61.9%;
    }
}

.p-voice__itemBox--right {
    margin-top: rem(10);
    width: 48.245%;
    @include mq(md) {
        margin-top: rem(-2);
        width: 38.1%;
    }
}

.p-voice__itemBox--boxTitle {
    @include mq(md) {
        padding-right: rem(16);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.p-voice__itemBox--customer {
    color: $green;
    font-size: rem(12);
    line-height: 1.5;
    @include mq(md) {
        float: left;
        margin-top: rem(36);
        width: 30%;
    }
}

.p-voice__itemBox--categori {
    display: inline-flex;
    padding: rem(3) rem(12);
    align-items: flex-start;
    border: 1px solid $accent;
    color: $accent;
    font-size: rem(12);
    line-height: 1.83333;
    @include mq(md) {
        margin-top: rem(20);
        /* margin-left: rem(70); */
        padding: rem(5) rem(15);
    }
}

.p-voice__itemBox--title {
    margin-top: rem(4);
    margin-right: rem(13);
    padding-bottom: rem(6);
    color: $green;
    font-size: rem(16);
    font-weight: $normal;
    line-height: 1.39;
    border-bottom: 1px solid $accent;
    @include mq(md) {
        margin-top: rem(10);
        padding-bottom: rem(5);
        font-size: rem(23);
        line-height: 1.48;
        letter-spacing: rem(1);
    }
}

.p-voice__item--text {
    margin-top: rem(15);
    font-size: rem(16);
    line-height: 1.5;
    @include mq(md) {
        margin-top: rem(40);
    }
}